# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Redis
REDIS_URL=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# FX API
FX_API_KEY=
FX_API_URL=

# App
NODE_ENV=development
PORT=3000

# Admin Bootstrapping
ADMIN_EMAIL=admin@cardpal.com
ADMIN_PASSWORD=Admin123!
SEED_ADMIN=true
